{{define "Title"}}关于我{{end}}
{{define "Description"}}Ying博客主页{{end}}
{{define "CustomCss"}}
<style>
   .my-head {
      margin-top: 40px;
      text-align: center;
    }
</style>
{{end}}
{{define "Content"}}
<body>
<div class="am-g my-head">
  <div class="am-u-sm-12">
    <h1 class="am-article-title">关于我</h1>
    <p class="am-article-meta">Ying32</p>
  </div>
</div>
<hr class="am-article-divider"/>
<div class="am-g am-g-fixed">
  <div class="am-u-md-12">
    <div class="am-g">
      <div class="am-u-sm-12 am-u-sm-centered">
        <div class="am-cf am-article">
		   {{.aboutMe}} 
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
{{end}}
