 <footer>
 <hr>
	<div style="text-align:center"> 
		<p style="text-indent:2em; line-height:90%;">© 2016 <a href="http://{{.website}}:90">{{.website}}</a> </p>
		<p style="text-indent:2em; line-height:90%;"> <a href="/rss">RSS</a></p>
	    <p style="text-indent:2em; line-height:90%;">Website build by <a href="/sources">YingBlog</a>, powered by <a target="_blank" href="http://golang.org/">Golang</a>, 
	    <a target="_blank" href="https://github.com/mattn/go-sqlite3/">go-sqlite3</a></p>
	    <p  style="text-indent:2em; line-height:90%;">Build Version {{.goVersion}}. Based on 
	    <a target="_blank" href="http://amazeui.org">AnmzeUI</a>. Editor from <a target="_blank" href="https://pandao.github.io/editor.md">editor.md</a>. Icon from <a target="_blank" href="http://findicons.com/icon/175903/blog">Jack Cai</a> {{loadtimes .startTime}}.</p>
	</div>
</footer>