{{define "Title"}}主页{{end}}
{{define "CustomCss"}}{{end}}
{{define "Content"}}
  <!-- content start -->
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>index page</small></div>
    </div>

    <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
      <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>昨日访问<br/>80082</a></li>
    </ul>

    <div class="am-g">
	
      <div class="am-u-md-6">


      </div>
    </div>

  <!-- content end -->
{{end}}

